In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn.preprocessing 
from sklearn.preprocessing import StandardScaler 
import seaborn as sns
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [3]:
test_dataset = pd.read_csv('test.csv')
train_dataset = pd.read_csv('train.csv')

In [4]:
test_dataset.head()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,630000,58,1,3,120,288,0,2,145,1,0.8,2,3,3
1,630001,55,0,2,120,209,0,0,172,0,0.0,1,0,3
2,630002,54,1,4,120,268,0,0,150,1,0.0,2,3,7
3,630003,44,0,3,112,177,0,0,168,0,0.9,1,0,3
4,630004,43,1,1,138,267,0,0,163,0,1.8,2,0,7

In [5]:
print(test_dataset.shape)

(270000, 14)

In [6]:
train_dataset.head()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,Presence
1,1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,Absence
2,2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,Absence
3,3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,Absence
4,4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,Presence

In [7]:
print(train_dataset.shape)

(630000, 15)

In [8]:
test_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
id,270000.0,764999.500000,77942.430678,630000.0,697499.75,764999.5,832499.25,899999.0
Age,270000.0,54.159870,8.255471,29.0,48.00,54.0,60.00,77.0
Sex,270000.0,0.716315,0.450787,0.0,0.00,1.0,1.00,1.0
Chest pain type,270000.0,3.315107,0.851762,1.0,3.00,4.0,4.00,4.0
BP,270000.0,130.555089,15.007908,94.0,120.00,130.0,140.00,200.0
Cholesterol,270000.0,245.045270,33.695458,126.0,223.00,243.0,269.00,564.0
FBS over 120,270000.0,0.080052,0.271374,0.0,0.00,0.0,0.00,1.0
EKG results,270000.0,0.978493,0.998686,0.0,0.00,0.0,2.00,2.0
Max HR,270000.0,152.783756,19.153454,71.0,142.00,157.0,166.00,202.0
Exercise angina,270000.0,0.274656,0.446341,0.0,0.00,0.0,1.00,1.0
ST depression,270000.0,0.718082,0.947417,0.0,0.00,0.1,1.40,6.2
Slope of ST,270000.0,1.459356,0.546186,1.0,1.00,1.0,2.00,3.0
Number of vessels fluro,270000.0,0.454800,0.801270,0.0,0.00,0.0,1.00,3.0
Thallium,270000.0,4.619774,1.950273,3.0,3.00,3.0,7.00,7.0

In [9]:
train_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
id,630000.0,314999.500000,181865.479132,0.0,157499.75,314999.5,472499.25,629999.0
Age,630000.0,54.136706,8.256301,29.0,48.00,54.0,60.00,77.0
Sex,630000.0,0.714735,0.451541,0.0,0.00,1.0,1.00,1.0
Chest pain type,630000.0,3.312752,0.851615,1.0,3.00,4.0,4.00,4.0
BP,630000.0,130.497433,14.975802,94.0,120.00,130.0,140.00,200.0
Cholesterol,630000.0,245.011814,33.681581,126.0,223.00,243.0,269.00,564.0
FBS over 120,630000.0,0.079987,0.271274,0.0,0.00,0.0,0.00,1.0
EKG results,630000.0,0.981660,0.998783,0.0,0.00,0.0,2.00,2.0
Max HR,630000.0,152.816763,19.112927,71.0,142.00,157.0,166.00,202.0
Exercise angina,630000.0,0.273725,0.445870,0.0,0.00,0.0,1.00,1.0
ST depression,630000.0,0.716028,0.948472,0.0,0.00,0.1,1.40,6.2
Slope of ST,630000.0,1.455871,0.545192,1.0,1.00,1.0,2.00,3.0
Number of vessels fluro,630000.0,0.451040,0.798549,0.0,0.00,0.0,1.00,3.0
Thallium,630000.0,4.618873,1.950007,3.0,3.00,3.0,7.00,7.0

In [10]:
categorical = train_dataset.select_dtypes(exclude=['number']).columns
print(categorical)

Index(['Heart Disease'], dtype='str')

In [ ]:
label = LabelEncoder()
train_dataset['Heart Disease'] = label.fit_transform(train_dataset['Heart Disease'])

SyntaxError: invalid syntax (2824066275.py, line 3)

In [12]:
train_dataset.head(20)

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,1
1,1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,0
2,2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,0
3,3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,0
4,4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,1
5,5,38,1,4,138,283,0,0,147,1,1.6,2,2,7,1
6,6,59,1,4,130,246,0,2,152,0,0.8,2,2,3,1
7,7,60,0,3,120,245,0,0,151,0,1.2,1,0,3,0
8,8,48,0,4,140,212,0,2,125,0,0.0,1,0,3,0
9,9,44,0,4,150,197,0,0,150,0,0.0,2,0,3,0
10,10,41,1,2,120,212,0,0,173,0,0.6,2,0,3,0
11,11,52,0,2,140,234,0,0,160,0,0.0,1,0,3,0
12,12,41,0,3,108,230,0,2,142,0,0.6,2,1,3,0
13,13,44,1,3,110,263,0,2,161,0,0.0,1,0,3,0
14,14,42,1,4,108,244,0,0,150,1,1.6,2,0,7,1
15,15,53,1,1,120,231,0,0,160,0,0.2,2,0,7,0
16,16,50,1,2,160,274,0,2,163,0,1.8,2,0,3,0
17,17,56,1,4,160,282,0,2,162,1,1.6,2,2,3,1
18,18,65,0,4,140,197,0,0,161,0,2.2,2,1,3,1
19,19,46,0,3,178,199,0,0,169,0,0.0,1,0,3,0

In [13]:
features = ['id','Age','Sex','Chest pain type','BP','Cholesterol','FBS over 120','EKG results','Max HR','Exercise angina','ST depression','Slope of ST','Number of vessels fluro','Thallium']

In [14]:
X_train_dataset = train_dataset[features].copy()
X_test_dataset = test_dataset[features].copy()
y_train_dataset = train_dataset['Heart Disease'].copy()

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_train_dataset,y_train_dataset,train_size=0.8, random_state= 42)

In [ ]:
model = RandomForestClassifier()
model.fit(X_train,y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
print("Results:\n", classification_report(y_test, pred))

In [ ]:
y_probs  = model.predict_proba(X_test)[:,1]
auc = roc_auc_score(y_test, y_probs)

print("AUC:", auc)

In [ ]:
test_probs1 = model.predict_proba(test_dataset)
print(test_probs1)

In [ ]:
test_probs2 = model.predict_proba(test_dataset)[:,1]
print(test_probs2)

In [ ]:
test_probs2 = model.predict_proba(test_dataset)[:,1]
print(test_probs2)

In [ ]:
output = pd.DataFrame({'id': test_dataset.id, 
                       'Heart Disease': test_probs2})
output.to_csv('submission.csv', index=False)